.hero-text {
    color: white;
    font-size: 2rem;
    padding: 2em 2em 2em 2em;
    font-style: italic;
    visibility: hidden;
}
.hero-element {
    padding: 5px;
}
.hero {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.tm-site-name {
    font-size: 1.3rem;
}
.button {
    border: 3px solid grey;
    padding: 10px;
    color: grey;
    font-weight: bold;
}
.button:hover {
    background-color: grey;
    color: white;
}
.event-container {
    width: 50%;
    display: flex;
    align-self: center;
}
.image-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.image {
    width: 100%;
}
.alignment {
    margin: 100px 0;
    flex-direction: column;
}
@media only screen and (min-width: 768px) {
    .tm-site-name {
        font-size: 2rem;
    }
    .hero-text {
        visibility: visible;
        padding: 0;
        padding-right: 3em;
        font-size: 2rem;
    }
    .footer {
        padding: 2em;
    }
}
@media only screen and (min-width: 1024px) {
    .hero-text {
        visibility: visible;
        padding-right: 3em;
        font-size: 3rem;
    }
    .container-fluid {
        padding-right: 5em;
    }
}
@media only screen and (min-width: 1240px) {
    .hero-text {
        visibility: visible;
        padding-right: 5em;
        font-size: 3rem;
    }
    .container-fluid {
        padding-right: 5em;
    }
}